<mat-card class="log-stream-card">
    <mat-card-header>
        <mat-card-title>Live logs</mat-card-title>
        <mat-card-subtitle>Restricted view of logs</mat-card-subtitle>
        <mat-form-field>
            <mat-label>Queue Length</mat-label>
            <mat-select [(ngModel)]="streamListLength" (selectionChange)="queueLengthChange($event)">
              <mat-option *ngFor="let length of queueLengths" [value]="length">
                {{length}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </mat-card-header>
    <mat-card-content>

        <mat-list id="logStreamView" #logStreamView>
            <mat-list-item *ngFor="let log of recentLogs" [ngClass]="log.classes">
                <span class="mat-small">
                    <span id="log-time">{{moment(log.timestamp).format('MMMM Do YYYY, h:mm:ss a')}} </span>
                    -
                    <span [ngClass]="['log-level', log.level]">{{log.level}}</span>
                    - <span>{{log.msg}}</span>
                </span>
            </mat-list-item>
        </mat-list>

    </mat-card-content>
</mat-card>