<mat-card fxFlex class="log-level-filter-card">
    <mat-card-header>
        <mat-card-title>Connected APIs</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <mat-selection-list (selectionChange)="onNgModelChange($event)" [(ngModel)]="selectedOptions" multiple>
            <mat-list-option *ngFor="let api of connectedApis" [value]="api">             
                <a *ngIf="api.humanLogsUrl" href="{{api.humanLogsUrl}}">{{api.url}}</a>
                <span *ngIf="!api.humanLogsUrl">{{api.url}}</span>
            </mat-list-option>
        </mat-selection-list>

    </mat-card-content>
</mat-card>
