#logStreamView {
    max-height: 470px;
    overflow: auto;
  }
  
  #logStreamView .mat-list-item {
    height: auto;
  }
  
  #log-time {
      color: grey;
  }
  
  .recently-added {
    animation-name: fade-background;
    animation-duration: 4s;
  }
  
  @keyframes fade-background {
    from {
      background-color: rgba(216, 200, 53, 0.45);
    }
    to {
      background-color: transparent;
    }
  }
  
  .log-level {
    border-radius: 4px;
    color: black;
    padding: 2px;
  
    &.debug {
      background: #6c757d;
    }
  
    &.info {
      background: #17a2b8;
    }
  
    &.warn {
      background: #ffc107;
    }
  
    &.error {
      background: #dc3545;
    }
  }
  